doctype html
html
  head
    title Página Inicial
    link(rel="stylesheet" href="/css/styles.css")
  body
    h1 Bem-vindo à Plataforma de Gestão de Recursos Educativos!
    nav
      ul
        li: a(href='/login') Login
        li: a(href='/register') Registrar
        li: a(href='/recursos') Recursos
    section
      h2 Notícias
      p Aqui vão as notícias...
    section
      h2 Recursos Recentes
      p Aqui vão os recursos recentes...
    script(src="/js/main.js")
