doctype html
html
  head
    title Recursos Educativos
    link(rel="stylesheet" href="/css/styles.css")
  body
    h1 Recursos Educativos
    nav
      ul
        li: a(href='/') Página Inicial
        li: a(href='/perfil') Perfil
    section
      h2 Lista de Recursos
      p Aqui vai a lista de recursos...
    script(src="/js/main.js")
